html {
	font-size: 62.5%;

	// @include device-width(6) {
	// 	font-size: 50%;
	// }
}

body {
	color: #333333;
	@include font-size(14);
	line-height: 1.5;
	min-width: 250px;
	background: #FFF;
	@include nexa-light;
}

#wrap {

}

#header {

	.logo-container {

		&:before {
		}

		.logo {
		}
	}

	.mobile-navigation-btn {
		position: absolute;
		right: 3.3em;
		top: 3.5em;

		@include device-width(13) {
			display: inline-block;
		}
	}

	.main-navigation {
		@extend .clearfix;

		@include device-width(13) {
		}

		@include device-width(6) {
			margin-left: -1.3em;
			margin-right: -3.3em;
		}

		
		> ul {
			margin: 0;
			padding: 0;
			list-style: none;

			@include device-width(13) {
				border-top: 1px solid #CCC;
			}
			
			> li {
				float: left;
				position: relative;
				@include transition(all 0.3s ease);
				zoom: 0;
				margin: 0 0 0 2em;

				@include device-width(13) {
					margin: 0;
					width: 50%;
					border-bottom: 1px solid #CCC;
				}
				
				@include device-width(6) {
					margin: 0;
					float: none;
					width: auto;
					border-bottom: 1px solid #CCC;
				}
				

			 	> a {
			 		display: inline-block;
					padding: 0 0;
					text-transform: uppercase;
			 		@include font-size(14);
				 	position: relative;
			 		line-height: 1;
				 
				 	// @include device-width(7) {
				 	// 	@include font-size(11);
				 	// }

				 	@include device-width(13) {
				 		padding: 1em 3em;
				 		display: block;
				 	}

				 	@include device-width(13) {
				 		padding-left: 2em;
				 		padding-right: 2em;
				 	}
			 	}

			 	> a:hover,
			 	&.current_page_parent > a,
			 	&.current-menu-item > a,
			 	&.current-category-ancestor > a,
			 	&.current-page-ancestor > a,
			 	&.current-post-ancestor > a,
			 	&.current-menu-parent > a,
			 	&.current-post-parent > a,
			 	&.current > a {
			 		color: #eeb111;

			 		@include device-width(12) {
			 			background: #326ba1;
			 			color: #FFF;
			 		}
			 	}
			}
		} 
	}

}
		
			
#main {

}
		
#sidebar {}
	
#footer {
}


/* =============================================================================
   Pages
   ========================================================================== */

