box/* =============================================================================
   Misc
   ========================================================================== */

img {
	max-width: 100%;
	height: auto;
}

a {
	@include transition(all 0.3s ease);
}

blockquote {
	background: #FFF;
	border: 1px solid #d0d0d0;
	@include border-radius(0.8em);
	padding: 2em;
	margin: 2em 1em 4em 1em;
	position: relative;
	text-align: center;
	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: -25px;
		left: 25px;
		width: 0; 
		height: 0; 
		border-top: 0 solid transparent;
		border-bottom: 25px solid transparent; 
		border-right: 25px solid #FFF;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: -27px;
		left: 24px;
		width: 0; 
		height: 0; 
		border-top: 0 solid transparent;
		border-bottom: 27px solid transparent; 
		border-right: 27px solid #d0d0d0; 
	}

	.quote {
		display: block;
		&:before {
			@extend [class*="icon-"];
			@extend .icon-open-quote:before;
			color: #eeb111;
		}

		&:after {
			@extend [class*="icon-"];
			@extend .icon-close-quote:before;
			color: #eeb111;
		}
	}
	.quotee {
		display: block;
		position: absolute;
		top: 100%;
		margin-top: 1em;
		left: 5em;
		text-align: left;
	}
}

.ir {
	border:0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-color: transparent;
}

.hide {
	display: none;
}

.hide-on-tablet {
	@include device-width(8) {
		display: none !important;
	}
}

.hide-on-mobile {
	@include device-width(5) {
		display: none !important;
	}
}

.show,
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.no-border {
	border: none;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

.valign-center {
	position: absolute;
	top: 50%;
	@include translateY(-50%)
}

.dropshadow {
	@include box-shadow(3px 3px 4px #666 );
}

.text-shadow {
	text-shadow: 0px 2px 2px white;
}

hr {
	background-color: #999;
	border: 0;
    height: 1px;
	margin: 1em auto;

	&.thick {
		height: 4px;	
	}
}


.border {
	border: 1px solid #ececec;
}

.border-bottom {
	border-bottom: 1px solid #ececec;	
}

.border-top {
	border-top: 1px solid #ececec;	
}

.border-left {
	border-left: 1px solid #ececec;	
}

.border-right {
	border-right: 1px solid #ececec;	
}

.thick-border-top {
	border-top: 2px solid #FFF;
}

.thick-border-bottom {
	border-bottom: 2px solid #FFF;
}


.overlay {
	// width:100%;
	// height: 100%;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#000, 0.4);
	@include transition(all 0.6s ease);

	.no-rgba & {
		@include opacity(0.4);
		background: #000;
	}
}

.lightbox {
	left: 50%;
    margin-left: -550px;
    padding: 0;
    position: absolute;
    top: 50px;
    width: 1100px;
    z-index: 200;
	
	> .loader {
		padding: 280px 0 0 0;
	}
}
	

.scale {
	width: 100%;
	height: auto !important;
	max-height: 100%;
	max-width: 100%;
	display: block;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
	iframe,
	object,
	embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

}

.decimal-list {
	list-style: none;
	margin: 0;
	padding: 0;
	ol {
		list-style: none;
		padding-left: 2em;
	}

	li {
		margin: 0.5em 0;
		position: relative;
		&:before {
			position: absolute;
			font-weight: bold;
			left: 0;
		}
	}

	> li {
		counter-increment: firstcounter;
		padding-left: 2em;
		&:before {
			content: counter(firstcounter) ".";
		}

		> ol {
			> li {
				counter-increment: secondcounter;
				padding-left: 2em;
				&:before {
					content: counter(firstcounter) "." counter(secondcounter);
				}
				> ol {
					> li {
						counter-increment: thirdcounter;
						padding-left: 3em;
						&:before {
							content: counter(firstcounter) "." counter(secondcounter) "." counter(thirdcounter);
						}
					}
				}
			}
		}
	}
}

.center-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.centerer {
  text-align:center; 
  font: 0/0 a;
}

.center {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.centered {
  vertical-align: middle;
  display: inline-block;
  width:98%;
}

.box {
	@include box-sizing(border-box);
	background:#FFF;
	@include border-radius(5px);
	@include box-shadow(0 0 5px #000);
	padding: 55px 55px 40px;
	color: #333;
	@include novecento-medium;
	text-transform: uppercase;
	@include font-size(18);
	position: relative;
	width: 80%;
	margin: 0 auto;

	strong {
		@include novecento-bold;
	}

	p {
		margin: 0;
	}

	.icon-star {
		@extend .icon-star:before;
		width: 40px;
		height: 40px;
		display: block;
		color: #FFF;
		@include border-radius(50%);
		position: absolute;
		top: -20px;
		left: 46%;
		@include font-size(29);
		line-height: 38px;
		background-color: #e93873; // Old browsers
		@include filter-gradient(#e93873, #641888, vertical); // IE6-9
		@include background-image(linear-gradient(top,  #e93873 0%,#641888 100%));
	}

	.bottom {
		height: 5px;
		display: block;
		width: 100%;
		position: absolute;
		background-color: #631888; // Old browsers
		@include filter-gradient(#631888, #e83873, horizontal); // IE6-9
		@include background-image(linear-gradient(left,  #631888 0%,#e83873 100%));		
		bottom: 0;
		left: 0;
		@include border-bottom-radius(5px);
	}
}



/* =============================================================================
   Lists
   ========================================================================== */

.unstyled-list {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		margin: 0.2em 0;
	}
}


/* =============================================================================
   Backgrounds
   ========================================================================== */

.red-bg {
	background-color: #c11d2d;
}

.dark-blue-bg {
	background-color: #2c5065;
}

.blue-bg {
	background-color: #00a3e0;
}

.light-blue-bg {
	background-color: #3895cb;
}

.white-bg {
	background-color: #FFFFFF;
}

.black-bg {
	background-color: #000000;
}

.semi-black-bg {
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.8);
}

.grey-bg {
	background-color: #f0f0f0;
}

.grey-gradient-bg {
	@include filter-gradient(#f3f3f3, #d5d5d5);
	@include background(linear-gradient(#f3f3f3, #d5d5d5));
}


/* =============================================================================
   Widgets
   ========================================================================== */
